extends layout

block content
    .jumbotron.center-block
        iframe.center-block(style='min-height: 1200px; max-width: 100%;', scrolling='no', src='https://docs.google.com/forms/d/1I4bSd0d573R8TepgPwbJp0h4S_eSkFQLxMbr4ziIAj0/viewform?embedded=true#start=embed', width='760', height='500', frameborder='0', marginheight='0', marginwidth='0') Cargando...
